1. Write a Python Program to Find the Factorial of a Number?
2. Write a Python Program to Display the multiplication Table?
3. Write a Python Program to Print the Fibonacci sequence?
4. Write a Python Program to Check Armstrong Number?
5. Write a Python Program to Find Armstrong Number in an Interval?
6. Write a Python Program to Find the Sum of Natural Numbers?

In [1]:
#1
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print("Factorial of", num, "is", factorial)

Enter a number:  4

Factorial of 4 is 24

In [2]:
#2
num = int(input("Enter a number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  13

Multiplication Table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [3]:
# 3
terms = int(input("Enter the number of terms: "))

n1 = 0
n2 = 1
count = 0

if terms <= 0:
    print("Please enter a positive integer")
elif terms == 1:
    print("Fibonacci sequence upto", terms, ":")
    print(n1)
else:
    print("Fibonacci sequence:")
    while count < terms:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

Enter the number of terms:  73

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264

In [4]:
#4
num = int(input("Enter a number: "))

sum = 0
temp = num

while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

if num == sum:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number:  378

378 is not an Armstrong number

In [7]:
# 5
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

print("Armstrong numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        print(num)

Enter lower range:  1
Enter upper range:  10000000

Armstrong numbers between 1 and 10000000 are:
1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474
54748
92727
93084
548834
1741725
4210818
9800817
9926315

In [ ]:
#6
n = int(input("Enter a positive integer: "))

if n < 1:
    print("Please enter a positive integer")
else:
    sum = 0
    for i in range(1, n + 1):
        sum += i
    print("The sum of natural numbers up to", n, "is", sum)