Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [1]:
# 1
def is_symmetrical(num):
    # Convert the number to a string
    num_str = str(num)
    # Check if the string is equal to its reverse
    return num_str == num_str[::-1]

In [2]:
print(is_symmetrical(7227))
# Output: True

print(is_symmetrical(12567))
# Output: False

print(is_symmetrical(44444444))
# Output: True

print(is_symmetrical(9939))
# Output: False

print(is_symmetrical(1112111))
# Output: True

True
False
True
False
True

In [3]:
# 2
def multiply_nums(nums):
    # Split the string into individual numbers
    num_list = nums.split(", ")
    # Convert the numbers to integers and calculate the product
    product = 1
    for num in num_list:
        product *= int(num)
    return product

In [4]:
print(multiply_nums("2, 3"))
# Output: 6

print(multiply_nums("1, 2, 3, 4"))
# Output: 24

print(multiply_nums("54, 75, 453, 0"))
# Output: 0

print(multiply_nums("10, -2"))
# Output: -20

6
24
0
-20

In [5]:
# 3
def square_digits(num):
    # Convert the number to a string
    num_str = str(num)
    # Iterate over each digit, square it, and concatenate the squared digits
    result = ""
    for digit in num_str:
        squared_digit = str(int(digit) ** 2)
        result += squared_digit
    # Convert the concatenated squared digits back to an integer
    return int(result)

In [6]:
print(square_digits(9119))
# Output: 811181

print(square_digits(2483))
# Output: 416649

print(square_digits(3212))
# Output: 9414

811181
416649
9414

In [7]:
# 4
def setify(lst):
    # Convert the list to a set to remove duplicates
    unique_set = set(lst)
    # Convert the set back to a sorted list
    sorted_list = sorted(unique_set)
    return sorted_list

In [8]:
print(setify([1, 3, 3, 5, 5]))
# Output: [1, 3, 5]

print(setify([4, 4, 4, 4]))
# Output: [4]

print(setify([5, 7, 8, 9, 10, 15]))
# Output: [5, 7, 8, 9, 10, 15]

print(setify([3, 3, 3, 2, 1]))
# Output: [1, 2, 3]

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

In [9]:
# 5
def mean(num):
    # Convert the number to a string
    num_str = str(num)
    # Calculate the sum of all digits
    digit_sum = sum(int(digit) for digit in num_str)
    # Calculate the mean by dividing the sum by the number of digits
    mean = digit_sum // len(num_str)
    return mean

In [10]:
print(mean(42))
# Output: 3

print(mean(12345))
# Output: 3

print(mean(666))
# Output: 6

3
3
6